@import "bootstrap.min.css";

#black-bg {
    background-color: black !important;
}

#message-container {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1000; /* Adjust the z-index to ensure it's on top of other content */
    padding: 20px;
}

.carousel-item {
    max-width: 100vw; /* Ensure banner within window */
    max-height: 100vh;
}

.carousel-item img {
    max-width: 100vw; /* Ensure image doesn't exceed container */
    max-height: 100vh;
}

.carousel-item div .hidden {
    width: 0px;
    height: 0px;
    color: rgba(0,0,0,0);
}

.navbar-light .navbar-brand {
    color: rgba(98,06,19, .9)
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(98,06,19, .9)
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(98,06,19, .5)
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(1, 0, 098,06,19, .7)
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(98,06,19, .3)
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(98,06,19, .9)
}

.navbar-light .navbar-toggler {
    color: rgba(98,06,19, .5);
    border-color: rgba(98,06,19, .1)
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-text {
    color: rgba(98,06,19, .5)
}

.navbar-light .navbar-text a {
    color: rgba(98,06,19, .9)
}

.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
    color: rgba(98,06,19, .9)
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.image-gallery > li {
    flex: 1 1 auto;
    list-style-type: none;
    height: 120px;
    cursor: pointer;
    position: relative;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.image-gallery::after {
    content: "";
    flex-grow: 999;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.1s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    font-size: 9pt;
    /* center overlay text 
    display: flex;
    align-items: center;
    justify-content: center;*/
}

/* hover */
.image-gallery li:hover .overlay {
    transform: scale(1);
}

.picframe {
    float: left;
    height: 120px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}  

.modal-content {
    max-width: 95vw;
    width: auto; 
}

.-modal-show .modal-dialog {
}

.wacc-modal-body img {
    max-width: 95vw; /* Ensure image doesn't exceed container's width */
    max-height: 95vh; /* Ensure image doesn't exceed container's height */
    padding: 1em;
}

.wacc-table td {
    font-size: 10pt;
}

.wacc-table th {
    font-size: 12pt;
}
/*img .fullpic {
    object-fit: none;
} */

.event-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.event-list > li {
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.event-list > li > time {
    position: relative;
    display: inline-block;
    width: 100%;
    color: var(--bs-light);
    background-color: var(--bs-primary);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.event-list > li > time:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

a.divLink {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   text-decoration: none;
   /* Makes sure the link doesn't get underlined */
   z-index: 10;
   display: block;
}

/* prevent link working in info div */
.event-list > li > time > a.divLink {
    width: 120px;
}

.event-list > li > time > span {
    display: none;
}
.event-list > li > time > .day {
    display: block;
    font-size: 50pt;
    font-weight: 100;
    line-height: 1;
}

.event-list > li > time > .day-sm {
    display: block;
    font-size: 30pt;
    font-weight: 100;
    line-height: 1.5;
}

.event-list > li time > .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}

.event-list > li time > .month-sm {
    display: block;
    font-size: 18pt;
    font-weight: 900;
    line-height: 1;
}

.event-list > li time > .time {
    display: block;
    font-size: 12pt;
    font-weight: 50;
    line-height: 1;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    margin-bottom: 10px;
}

.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
} 
.event-list > li > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
} 
/*.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: bs-dark;
}*/

.carousel-control-prev {
    border: 0px;
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
}

.carousel-control-next {
    border: 0px;
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
}

#wacc-hidden-text {
    color: rgba(0,0,0,0);
}

@media (min-width: 768px) {
    .image-gallery > li {
        height: 240px;
    }

    .overlay {
        font-size: 14pt;
    }

    .wacc-table td {
        font-size: 12pt;
    }
    
    .wacc-table th {
        font-size: 16pt;
    }
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }
    .event-list > li > .info {
        background-color: bs-dark;
        overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }	
    .event-list > li > .info > .title, 
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li {			
        display: block;
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}