{% extends "main/base.html" %}
{% load print_extras %}

{% block content %}
    <div class="container">
        <h1>Images for {{ competition }}</h1>
        <hr>
        <div class="card">
            <div class="card-header"><h3>Add New Entry</h3></div>
            <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                {% for field in form.visible_fields %}
                    <div class="mb-3">
                        {% if field.errors %}
                            <div class="form-control is-invalid">{{ field }}</div>
                            <div id="{{ field.name }}Feedback" class="invalid-feedback">{{ field.errors }}</div>
                        {% elif field.name == 'print' %}
                            <label class="form-check-label mr-5">{{ field.label }}</label>
                            {% if field.value == True %}
                                <input type="checkbox" checked disabled>
                            {% else %}
                                <input type="checkbox" disabled>
                            {% endif %}
                            {{ field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% if field.name == 'title' %}
                            <div id="titleHelp" class="form-text">The title will be auto-capitalised for display.</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Add Image</button>
            </form>
            </div>
        </div>
        
        <div class="card mt-3">
            <div class="card-header"><h3>Entries</h3></div>
            <div class="card-body">
                <table class="table">
                <tr>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
                {% for image in images %}
                <tr>
                    <td>{% with entry=image|print_entry_for:competition %}
                        {{ entry.number }}
                        {% endwith %}</td>
                    <td>{{ image.title }}</td>
                    <td>{{ image.author }}</td>
                </tr>
                {% endfor %}
                </table>
                <a class="btn btn-primary mb-1" href="{% url 'competition_edit_prints' pk=competition.id %}" >Edit Entries</a><br/>
            </div>
        </div>

        <!-- Select existing images -->
        <div class="card mt-3">
            <div class="card-header"><h3>Add Existing Images</h3></div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ existing_form.as_p }}
                    <button class="btn btn-primary" type="submit">Add Selected</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $("#id_existing_images").select2({
            width: "100%",
            placeholder: "Start typing the title...",
            ajax: {
                url: "{% url 'image_search' %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        competition: "{{ competition.pk }}" // so we can exclude
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.results
                    };
                }
            }
        });
    });
    </script>
{% endblock scripts %}
