{% extends "main/base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="col-lg-7">
        <table class="table">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Award</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr>
                        {# Hidden inputs for image_id and competition_id #}
                        {{ form.image_id }}
                        {{ form.competition_id }}
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {{ form.title.value }}
                        </td>
                        <td>
                            {{ form.author.value }}
                        </td>
                        <td>
                            {{ form.award_type }}
                        </td>
                        <td>
                            {% for field in form %}
                                {% if field.errors %}
                                    <ul class="errors mb-0">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
</form>
{% endblock content %}