{% extends "main/base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        {% for comp in competitions %}
        {% if forloop.first %}
        <h1>Competition Night, {{ comp.event.starts|date:"l jS \o\f F Y" }}</h1>
        <div class="d-grid gap-2 mb-3">
        {% endif %}
          {% if 'rint' in comp.type.type %}
          {% else %}
          <a class="badge rounded-pill bg-primary fs-5" href="{% url 'slideshow' comp.id %}" >{{ comp.type }} Preview</a><br/>
          {% endif %}
          <a class="badge rounded-pill bg-primary fs-5" href="{% url 'judge_slideshow' comp.id %}" >{{ comp.type }} Judge's Comments</a><br/>
        {% endfor %}
        </div>
      </div>
    </div>
  <br/>
{% endblock %}