{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block content %}
<h1>Gallery for {{ event }}</h1>

<div class="container">
    <div class="col">
        <div class="row">
        <form method="post">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
                <div class="form-group">
                {% for field in form %}
                <div class="mb-3">
                    {% if field.name == 'event'%}
                    {% else %}
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% comment %} {% if field.field.widget.input_type == 'checkbox' %}
                        {% render_field field class="form-check-input" %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %} {% endcomment %}
                    {{ field }}
                </div>
                {% endfor %}
                </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}