{% extends "main/base.html" %}
{% block content %}
    <div class="container">
        <h1>Committee Members</h1>
        <table class="table">
            {% for user in committee %}
                <tr>
                    {% if user.person.position.all %}
                        <td>
                            {% for pos in user.person.position.all %}
                                {{ pos }}
                            {% endfor %}
                        </div>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ user.person }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
        <h1 class="mt-5">Current Members</h1>
        <table class="table">
            {% for member in members %}
                {% if member.current %}
                    <tr>
                        <td>{{ member.person }}</td>
                        <td>{{ member.person.user.email }}</td>
                        <td>{{ member.person.mobile }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% if perms.main.change_member %}
            <div class="my-1">
                <a class="btn btn-primary" href="{% url 'add_member' %}">Add New Member</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
