{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="col">
            <div class="row justify-content-between mb-3 text-center">
                <div class="col-2">
                    {% if previous_year %}
                        <a class="btn btn-outline-primary"
                           href="{% url 'events' year=previous_year %}">{{ previous_year }}</a>
                    {% endif %}
                </div>
                <div class="col">
                    <h1>Events for {{ year.year }}</h1>
                </div>
                <div class="col-2">
                    {% if next_year %}
                        <a class="btn btn-outline-primary float-end"
                           href="{% url 'events' year=next_year %}">{{ next_year }}</a>
                    {% endif %}
                </div>
            </div>
            {% now "Y-m-d" as todays_date %}
            {% now "F" as todays_month %}
            {% now "Y-m-d H:i" as right_now %}
            <div class="content">
                {% for month, events in events_by_month.items %}
                    <div class="card mb-2 px-2 pt-2"><h3>{{ month }}</h3>
                    <div id="{{ month|lower }}" class="card-deck mb-4">
                        {% for event in events %}
                            {% if event.starts|date:"F" == todays_month %}
                            <span class="hidden" id="today_bookmark"></span>
                            {% endif %}
                            {% if not event.hide_from_public or "President" in user.person.position.first.position or "Competition" in user.person.position.first.position%}
                                {% include "main/includes/event_card.html" %}
                            {% elif user.is_authenticated and user.person.member.current %}
                                {% if event.hide_from_members_until == None or event.hide_from_members_until <= today %}
                                    {% include "main/includes/event_card.html" %}
                                {% endif %}
                            {% endif%}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div>
                {% if todays_month > 9 %}
                    {% if user.person.position == 'Webmaster' %}
                        <div class="d-grid gap-2">
                            <a class="btn btn-primary" href="{% url 'create-events' %}">Create All Next Year's Events</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script type="module">
    import { GlobalWorkerOptions, getDocument } from '{% static 'pdfjs/build/pdf.mjs' %}';

    // URL of the PDF file
    var pdfUrl = "{{ event.file.url }}";

    // Set the path to the worker script
    GlobalWorkerOptions.workerSrc = '{% static 'pdfjs/build/pdf.worker.mjs' %}';

    getDocument(pdfUrl).promise.then(function(pdf) {
        pdf.getPage(1).then(function(page) {
            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');
            var viewport = page.getViewport({ scale: 1 });
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            var renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            page.render(renderContext);
            document.getElementById('pdf-viewer').appendChild(canvas);
        });
    });
</script>
{% endblock scripts %}

