{% extends 'main/base.html' %}

{% block content %}
<div class="container">
<div class="col">
    
    <div class="row justify-content-between mb-3">
        <div class="col-2">
            {% if previous_year %}
            <a class="btn btn-outline-primary" href="{% url 'news' year=previous_year %}">{{ previous_year }}</a>
            {% endif %}
        </div>
            <div class="col text-center">
            <h1>Newsletters from {{ year.year }}</h1>
            </div>
        <div class="col-2">
            {% if next_year %}
                <a class="btn btn-outline-primary float-end" href="{% url 'news' year=next_year %}">{{ next_year }}</a>
            {% endif %}
        </div>
    </div>
    {% if newsletters %}
    <div class="d-flex flex-wrap">
    {% for letter in newsletters %}
         {% comment %} Open pdf in new tab {% endcomment %}
        <div class="d-flex align-items-start flex-column m-3 ">
            {% if user.is_authenticated %}
            <a href="{{ letter.file.url }}" target=”_blank”>
                {% comment %} show thumbnail {% endcomment %}
                <img src="{{ letter.thumb.url }}" alt={{ letter.issue_date|date:"F"}} {{ letter.issue_date|date:"Y" }}>
            </a>
            {% else %}
            <img src="{{ letter.thumb.url }}" alt={{ letter.issue_date|date:"F"}} {{ letter.issue_date|date:"Y" }}>
            {% endif %}
            <div>
                {{ letter.issue_date|date:"F"}} {{ letter.issue_date|date:"Y" }}
            </div>
            {% if perms.main.change_newsletter %}
            <div>
                <a class="btn btn-primary btn-sm" href="{% url 'edit_newsletter' pk=letter.id %}">Edit</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if perms.main.add_newsletter %}
    <div>
        <a class="btn btn-primary" href="{% url 'add_newsletter' %}">Add Newsletter</a>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
