@import "bootstrap.min.css";

#message-container {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1000; /* Adjust the z-index to ensure it's on top of other content */
    padding: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.image-gallery > li {
    flex: 1 1 auto;
    list-style-type: none;
    height: 240px;
    cursor: pointer;
    position: relative;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.image-gallery::after {
    content: "";
    flex-grow: 999;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.1s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay text 
    display: flex;
    align-items: center;
    justify-content: center;*/
}

/* hover */
.image-gallery li:hover .overlay {
    transform: scale(1);
}

.picframe {
    float: left;
    height: 120px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.modal img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

/*img .fullpic {
    object-fit: none;
} */

.event-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.event-list > li {
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.event-list > li > time {
    position: relative;
    display: inline-block;
    width: 100%;
    color: var(--bs-light);
    background-color: var(--bs-primary);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.event-list > li > time:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

a.divLink {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   text-decoration: none;
   /* Makes sure the link doesn't get underlined */
   z-index: 10;
   display: block;
}

/* prevent link working in info div */
.event-list > li > time > a.divLink {
    width: 120px;
}

.event-list > li > time > span {
    display: none;
}
.event-list > li > time > .day {
    display: block;
    font-size: 50pt;
    font-weight: 100;
    line-height: 1;
}

.event-list > li > time > .day-sm {
    display: block;
    font-size: 30pt;
    font-weight: 100;
    line-height: 1.5;
}

.event-list > li time > .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}

.event-list > li time > .month-sm {
    display: block;
    font-size: 18pt;
    font-weight: 900;
    line-height: 1;
}

.event-list > li time > .time {
    display: block;
    font-size: 12pt;
    font-weight: 50;
    line-height: 1;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    margin-bottom: 10px;
}

.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
} 
.event-list > li > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
} 
/*.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: bs-dark;
}*/

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }
    .event-list > li > .info {
        background-color: bs-dark;
        overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }	
    .event-list > li > .info > .title, 
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li {			
        display: block;
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}