
{% if 'End of Year' in competition.type.type and "Mono Prints" in competition.type.type %}
    <a class="btn btn-primary float-right mt-1" href="{% url 'end_of_year_entry_mono_prints' %}">Select Entries</a>
    <a class="btn btn-primary float-right mt-1" href="{% url 'end_of_year_entry_mono_labels' %}">Labels</a>
{% elif 'End of Year' in competition.type.type and "Colour Prints" in competition.type.type %}
    <a class="btn btn-primary float-right mt-1" href="{% url 'end_of_year_entry_colour_labels' %}">Labels</a>
{% endif %}

{% if competition.images.all %}<a class="btn btn-primary mt-1" href="{% url 'list_entries' competition.id %}">List of Entries</a>{% endif %}
{% if competition.images.all %}<a class="btn btn-primary mt-1" href="{% url 'view_entries' competition.id %}">View Entries</a>{% endif %}
{% if competition.images.all %}<a class="btn btn-primary mt-1" href="{% url 'create_zip' competition.id %}">Download Zip</a>{% endif %}
<a class="btn btn-primary mt-1" href="{% url 'competition_add_images' competition.id %}">Add Images</a>
{% if competition.images.all %}<a class="btn btn-primary mt-1" href="{% url 'edit_judge_awards' competition.id %}">Edit Judge Awards</a>{% endif %}
{% if competition.images.all %}<a class="btn btn-primary mt-1" href="{% url 'edit_member_awards' competition.id %}">Edit Member Awards</a>{% endif %}

