<li>
  <img src="/media/{{ image.photo }}" alt="{{ image.title }}">
  <div class="overlay">
    <div><h1>{{ forloop.counter }}</h1></div>
  </div>
  <!-- Link to trigger the modal -->
  <a class="divLink" href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{ image.id }}"></a> 
</li>
<!-- Modal for the image -->
<div class="modal fade" id="imageModal{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-centrered">
            <div class="modal-body">
                <img src='/media/{{ image.photo }}' alt="Image Missing, please contact the webmaster">
                <div class="my-n3"><h2>{{ forloop.counter }}</h2></div>
                <div>
                {% for image in images %}
                  <a class="btn" href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{ image.id }}">{{ forloop.counter }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
